<div style="display:flex;justify-content:center">
    <img src="https://unram.ac.id/wp-content/uploads/2018/09/UNRAM-LOGO-FIX-STATUTA-.png" style="height: 100px" /> 
    <img src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/community/logos/python-logo-only.png" style="height: 100px"/> 
</div>

<h1 align="center">Pemodelan dan Simulasi Monte Carlo dalam Meningkatkan Pendapatan Penjualan Peralatan Motor</h1>

# Table of Content
<ul style="list-style:none">
    <li>
        <a href="#data-awal">Menampilkan data awal</a>
    </li>
    <li>Melakukan uji Proses Preprocessing Terhadap Data</li>
    <li>Melakukan uji hipotesis</li>
    <li>Melakukan uji normalitas</li>
    <li>Melakukan uji homogenitas</li>
    <li>Memilih salah satu metode analisis</li>
</ul>

In [58]:
import pandas as pd
import numpy as np
import matplotlib as mpl

<h1 id="data-awal">Data Awal</h1>

In [59]:
excel_path = "dataset.xlsx"
df = pd.read_excel(excel_path,usecols=[1,2,3,4]).astype(str)
df.head(12)

   Bulan PM1 PM2 PM3
0    Jan  28  25  15
1    Feb  15  23  18
2    Mar  22  26  10
3    Apr   9   5  10
4    Mei  30  28  16
5    Jun  27  23  14
6    Jul  35  25  18
7    Agu  28  20  18
8    Sep  18  22  18
9    Okt  25  18  10
10   Nov  32  22  16
11   Des  20  25  20

<h1 id="pre">Uji Proses Preprocessing </h1>

## 1. Format Penulisan

In [60]:
df["PM1"] = df["PM1"].str.replace('[a-zA-Z]', '')
df["PM2"] = df["PM2"].str.replace('[a-zA-Z]', '')
df["PM3"] = df["PM3"].str.replace('[a-zA-Z]', '')
df["PM1"] = df["PM1"].astype(int)
df["PM2"] = df["PM2"].astype(int)
df["PM3"] = df["PM3"].astype(int)
df.dtypes

C:\Users\ACER\AppData\Local\Temp\ipykernel_24808\79152577.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["PM1"] = df["PM1"].str.replace('[a-zA-Z]', '')
C:\Users\ACER\AppData\Local\Temp\ipykernel_24808\79152577.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["PM2"] = df["PM2"].str.replace('[a-zA-Z]', '')
C:\Users\ACER\AppData\Local\Temp\ipykernel_24808\79152577.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df["PM3"] = df["PM3"].str.replace('[a-zA-Z]', '')

Bulan    object
PM1       int32
PM2       int32
PM3       int32
dtype: object

## 2. Data Kosong

In [61]:
df = df.dropna()