<div style="display:flex;justify-content:center">
    <img src="https://unram.ac.id/wp-content/uploads/2018/09/UNRAM-LOGO-FIX-STATUTA-.png" style="height: 100px" /> 
    <img src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/community/logos/python-logo-only.png" style="height: 100px"/> 
</div>

<h1 align="center">Pemodelan dan Simulasi Monte Carlo dalam Meningkatkan Pendapatan Penjualan Peralatan Motor</h1>

# Table of Content
<ul style="list-style:none">
    <li>
        <a href="#data-awal">Menampilkan data awal</a>
    </li>
    <li>
        <a href="#preprocessing">Melakukan uji Proses Preprocessing Terhadap Data</a>
    </li>
    <li>Melakukan uji hipotesis</li>
    <li>Melakukan uji normalitas</li>
    <li>Melakukan uji homogenitas</li>
    <li>Memilih salah satu metode analisis</li>
</ul>
<hr>

Hal pertama yang harus dilakukan yaitu melakukan import library-library yang dibutuhkan dalam proses pengolahan data. Library-library tersebut sebagai berikut.
1. Pandas :
Pandas adalah library yang digunakan untuk manipulasi dan analisis data. Pandas menyediakan struktur data yang efisien dan fleksibel, yaitu DataFrames, yang memungkinkan untuk mengolah data dengan mudah.
2. NumPy :
NumPy (Numerical Python) adalah library yang digunakan untuk melakukan komputasi numerik dengan Python. NumPy menyediakan struktur data array multidimensi yang efisien dan operasi matematika yang cepat pada array tersebut
3. Matplotlib :
Matplotlib adalah library yang digunakan untuk membuat visualisasi data dengan Python. Matplotlib menyediakan berbagai fungsi dan alat untuk membuat grafik dan plot yang menarik dan informatif.

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats

<h1 id="data-awal">Data Awal</h1>

Pada tahap ini hal pertama yang akan dilakukan adalah untuk mengimport sebuah file excel yang akan digunakan sebagai sumber data yang akan diolah, kemudian menampilkan data tersebut menggunakan library pandas.

In [51]:
excel_path = "dataset.xlsx"
df = pd.read_excel(excel_path,usecols=[1,2,3,4]).astype(str)
df.head(12)

   Bulan PM1 PM2 PM3
0    Jan  28  25  15
1    Feb  15  23  18
2    Mar  22  26  10
3    Apr   9   5  10
4    Mei  30  28  16
5    Jun  27  23  14
6    Jul  35  25  18
7    Agu  28  20  18
8    Sep  18  22  18
9    Okt  25  18  10
10   Nov  32  22  16
11   Des  20  25  20

<h1 id="preprocessing">Uji Proses Preprocessing </h1>

Proses uji preprocessing adalah tahapan dalam pengolahan data di mana data mentah atau data yang belum siap digunakan untuk analisis atau pemodelan dipersiapkan dan dibersihkan agar lebih sesuai untuk digunakan dalam proses selanjutnya.

Tujuan dari proses uji preprocessing adalah untuk meningkatkan kualitas dan kegunaan data dengan menghilangkan ketidaksesuaian, kekacauan, atau kecacatan yang mungkin ada dalam data mentah.

## 1. Format Penulisan

Konversi tipe data adalah salah satu langkah yang umum dilakukan dalam tahap uji preprocessing untuk memastikan bahwa data memiliki format yang sesuai untuk analisis atau pemodelan yang akan dilakukan.

Proses konversi tipe data melibatkan mengubah jenis data dari satu format ke format lain yang lebih cocok untuk keperluan tertentu.

In [52]:
df["PM1"] = df["PM1"].str.replace('[a-zA-Z]', '')
df["PM2"] = df["PM2"].str.replace('[a-zA-Z]', '')
df["PM3"] = df["PM3"].str.replace('[a-zA-Z]', '')
df["PM1"] = df["PM1"].astype(int)
df["PM2"] = df["PM2"].astype(int)
df["PM3"] = df["PM3"].astype(int)
df.dtypes

C:\Users\ACER\AppData\Local\Temp\ipykernel_9284\79152577.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df["PM1"] = df["PM1"].str.replace('[a-zA-Z]', '')
C:\Users\ACER\AppData\Local\Temp\ipykernel_9284\79152577.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df["PM2"] = df["PM2"].str.replace('[a-zA-Z]', '')
C:\Users\ACER\AppData\Local\Temp\ipykernel_9284\79152577.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df["PM3"] = df["PM3"].str.replace('[a-zA-Z]', '')

Bulan    object
PM1       int32
PM2       int32
PM3       int32
dtype: object

## 2. Data Kosong

Mengatasi data kosong atau nilai yang hilang merupakan langkah penting dalam tahap uji preprocessing. Data kosong atau nilai yang hilang dapat mempengaruhi kualitas analisis atau pemodelan yang dilakukan.

Salah satu pendekatan yang sederhana adalah dengan menghapus baris atau kolom yang mengandung nilai yang kosong. Namun, pendekatan ini harus digunakan dengan hati-hati karena dapat menyebabkan kehilangan informasi yang penting jika data yang kosong cukup signifikan.

In [58]:
df = df.dropna()
df.head(12)

   Bulan  PM1  PM2  PM3
0    Jan   28   25   15
1    Feb   15   23   18
2    Mar   22   26   10
3    Apr    9    5   10
4    Mei   30   28   16
5    Jun   27   23   14
6    Jul   35   25   18
7    Agu   28   20   18
8    Sep   18   22   18
9    Okt   25   18   10
10   Nov   32   22   16
11   Des   20   25   20

<h1 id="hipotesis">Uji Hipotesis</h1>

In [64]:
h0 = "Tidak ada perbedaan yang signifikan antara penjualan peralatan motor"
h1 = "Terdapat ada perbedaan yang signifikan antara penjualan peralatan motor"

t_statistic, p_value = stats.f_oneway(df['PM1'], df['PM2'], df['PM3'])
alpha = 0.05

print("Hasil Uji Hipotesis:","\nNilai p-value:",p_value)
if p_value < alpha:
    print("Hipotesis nol ditolak",h1)
else:
    print("Hipotesis nol diterima",h0)

Hasil Uji Hipotesis:
Nilai p-value: 0.002475154321574239
Hipotesis nol ditolak Terdapat ada perbedaan yang signifikan antara penjualan peralatan motor