<div style="display:flex;justify-content:center">
    <img src="https://unram.ac.id/wp-content/uploads/2018/09/UNRAM-LOGO-FIX-STATUTA-.png" style="height: 100px" /> 
    <img src="https://s3.dualstack.us-east-2.amazonaws.com/pythondotorg-assets/media/community/logos/python-logo-only.png" style="height: 100px"/> 
</div>

<h1 align="center">Pemodelan dan Simulasi Monte Carlo dalam Meningkatkan Pendapatan Penjualan Peralatan Motor</h1>

In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl

In [5]:
excel_path = "dataset.xlsx"
df = pd.read_excel(excel_path,usecols=[1,2,3,4])
df.head()

  Bulan  PM1  PM2  PM3
0   Jan   28   25   15
1   Feb   15   23   18
2   Mar   22   26   10
3   Apr    9    5   10
4   Mei   30   28   16